<section>
    <div class="container">
        <div class="row">
          <div class="col-md-12 card  attendhead" style="">
       
        {{#each update}} 
        <p style="color: rgb(238, 238, 241); background-color:rgb(17, 17, 56)">
          {{this.Date}}  {{this.attendance}}</p>
        {{/each}}
          </div>
          <div class="col-md-12 col-12">
            <p class="swipe">Swipe to view full</p>
          </div>
          
           
              <div class="col-md-12 col-12 table-responsive-md">
 <table class="table mt-5 ml-2">
  <thead class="table-design" >
    <tr >
      
      
       <th scope="col"class="student-details">Assigned works</th>
        <th scope="col"class="student-details">Submitted work</th>
         <th scope="col"class="student-details">Submitted date</th>
         <th scope="col"class="student-details">Given mark</th>
       <th scope="col"class="student-details">Submit</th>
      
       
    </tr>
  </thead>
  <tbody>
 {{#each view}}
 <form class=" today-form" id="checkout-form" action="/add-marks" method="post" >
    <tr>
     
     
     
      <td class="student">{{this.workname}}</td>
      <td class="student"><a class="asgnmt" href="/assignments/{{this.item}}.pdf"><i class="fas fa-book-open">Open work</i></a></td>
      <td class="student">{{this.workdate}}</td>
      <td class="student">
         
          <input type="text" class=" mark" name="mark" value="{{this.mark}}" >
          <input type="text" name="work" value="{{this.workname}}" hidden>
         <input type="text" name="student" value="{{this.student}}" hidden>
        
      </td>
      
      <td >
         <button type="submit" class="btn btn-success asgnmt ">Submit<span id="kk">

         </span></button>
        </td>
       
    </tr>
    </form>
    {{/each}}
           </tbody>
      </table>
      

       
    
            </div>
              
        </div>
    </div>
</section>
<script>
   
</script>