<section>
<div class="container">
  <div class="row">
     <div class="col-md-12 view-upldss">
<h2 class="class-works" style="color: white;">Class works</h2>
    </div>
    <div class="col-md-12 col-12">
 <table class="table mt-5 ml-2">
  <thead class="table-design" >
    <tr >
      
      
       <th scope="col"class="student-details">Assigned works</th>
        <th scope="col"class="student-details">Topic</th>
         <th scope="col"class="student-details">Last date</th>
      
       <th scope="col"class="student-details">Delete</th>
       
    </tr>
  </thead>
  <tbody>
       
    </div>
     {{#each Writtenwork}}
    <tr>
     
     
     
       <td class="student">{{this.head}}</td>
      <td class="student">{{this.work}}</td>
      <td class="student">{{this.workdate}}</td>
      
        <td>
        <a href="/delete-assignment/{{this._id}}" class="btn btn-danger"
         onclick="return confirm('are you want to delete {{this.name}} ?')">Delete</a>
        </td>
    </tr>
   {{/each}}
   {{#each Pdf}}
    <tr>
     
     
     
       <td class="student">{{this.topic}}</td>
      
    
    <td> 
     
      <a class="open-pdf" href="/uploads/{{this._id}}.{{this.file}}"><i class="fas fa-book-open">Open work</i></a></td>

     

      <td class="student">{{this.date}}</td>
      
        <td>
        <a href="/delete-pdf/{{this._id}}" class="btn btn-danger"
         onclick="return confirm('are you want to delete {{this.topic.head}} ?')">Delete</a>
        </td>
        
        
    </tr>
   {{/each}}
   
   
  </tbody>
</table>
   
     <div class="col-12 view-upldss ">
<h2 class="class-work" style="color: white;">Study Materials</h2>
    </div>
 <div class="col-md-12 col-12">
 <table class="table mt-5 ml-2">
  <thead class="table-design" >
    <tr >
      
      
       <th scope="col"class="student-details">Topic</th>
        <th scope="col"class="student-details">Material</th>
        <th scope="col"class="student-details">Date</th>
      
       <th scope="col"class="student-details">Delete</th>
       
    </tr>
  </thead>
  <tbody>
   {{#each notepdf}}
    <tr>
     
       <td class="student">{{this.topic}}</td>
      
      
    <td>
      <a class="open-pdf" href="/materials/{{this._id}}.jpg"><i class="fas fa-images"></i></a>
      <a class="open-pdf" href="/materials/{{this._id}}.pdf"><i class="fas fa-file-pdf"></i></a>
       <a class="open-pdf" href="/materials/{{this._id}}.mp4"><i class="fas fa-video"></i></a>
    </td>

      <td class="student">{{this.date}}</td>
     
        <td>
        <a href="/delete-notepdf/{{this._id}}" class="btn btn-danger"
         onclick="return confirm('are you want to delete {{this.name}} ?')">Delete</a>
        </td>
        
        
    </tr>
   {{/each}}
    
    {{#each link}}
    <tr>
     
     
     
       <td class="student">{{this.head}}</td>
      
      
    <td> <a class="open-link" href="{{this.link}}">Open link</a></td>
      <td class="student">{{this.pdf-date}}</td>
      
        <td>
        <a href="/delete-link/{{this._id}}" class="btn btn-danger"
         onclick="return confirm('are you want to delete {{this.name}} ?')">Delete</a>
        </td>
        
        
    </tr>
   {{/each}}
  </tbody>
</table>
    </div>
</div>
</div>
</div>
</section>

