<div class="container">
    <div class="row">
        <div class="col-md-6   col-12">
             <h3 class="ml-5">Announcements</h3>
              <ul class="list-group">
           {{#each announcement}}
           
           {{#if this.file}}

          <li class="list-group-item"><i class="far fa-clock"style="color: green;" > {{this.date}}</i><br> {{this.main}} 
          <br>
        
        <a class="open-pdf"  href="/announcement/{{this._id}}.jpg"><i class="fas fa-images"></i></a>
       <a class="open-pdf" href="/announcement/{{this._id}}.pdf"><i class="fas fa-file-pdf"></i></a>
       <a class="open-pdf" href="/announcement/{{this._id}}.mp4"><i class="fas fa-video"></i></a>

          </li>
              
          {{else}}
           <li class="list-group-item"><i class="far fa-clock"style="color: green;"> {{this.date}}</i><br>{{this.main}} 
          
  {{/if}}
  {{/each}}
</ul>
        </div>
    </div>
</div>